.about-module {
  grid-template-areas:
    "header"
    "values"
    "cuisine"
    "team"
    "footer";
  text-align: center;
  background-color: red;
}

.about-header {
  grid-area: header;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 2rem;
  gap: 1rem;
  width: 100%;
  background-color: hsl(0, 0%, 95%);
}

.about-header h2 {
  /* border: 1px solid red; */
  color: hsl(0, 0%, 22%);
}

.about-header p {
  color: hsl(0, 0%, 22%);
}

.about-header q {
  color: hsl(0, 0%, 22%);
}

.img-restaurant {
  width: 80%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  overflow: hidden;
  border-radius: 2px;
}

.section-values {
  grid-area: values;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  width: 100%;
  background-color: hsl(0, 0%, 90%);
}

.section-values h2 {
  color: hsl(0, 0%, 22%);
}

.section-values > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  list-style-type: none;
  height: 100%;
}

.section-values > ul > li {
  color: hsl(0, 0%, 22%);
}

.fa-leaf,
.fa-heart,
.fa-users,
.fa-tools,
.fa-home {
  color: hsl(0, 0%, 22%);
  margin: 0 0.2rem;
}

.span-value {
  font-weight: bold;
  font-style: italic;
  color: hsl(0, 0%, 22%);
}

.section-cuisine {
  grid-area: cuisine;

  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  width: 100%;
  background-color: hsl(0, 0%, 95%);
}

.section-cuisine h2 {
  color: hsl(0, 0%, 22%);
}

.section-cuisine > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.section-cuisine > article > p {
  color: hsl(0, 0%, 22%);
}

.img-frying-pan {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.section-team {
  grid-area: team;

  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 2rem;
  width: 100%;
  background-color: hsl(0, 0%, 85%);
}

.section-team h2 {
  color: hsl(0, 0%, 20%);
}

.article-team-header > h3 {
  color: hsl(0, 0%, 22%);
}

.article-team-header > p {
  color: hsl(0, 0%, 22%);
}

.article-team-text {
  color: hsl(0, 0%, 28%);
}

@media (min-width: 768px) {
  .about-module {
    grid-template-areas:
      "header header"
      "values  cuisine"
      "team team"
      "footer footer";
  }

  .section-cuisine {
    background-color: hsl(0, 0%, 90%);
  }

  .img-frying-pan {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .about-module {
    grid-template-areas:
      "header values cuisine"
      "team team team"
      "footer footer footer";
  }

  .section-cuisine {
    background-color: hsl(0, 0%, 95%);
  }
}
