.home-module {
  grid-template-areas:
    "header"
    "dish"
    "hours"
    "events"
    "footer";
  justify-items: center;
}

.home-header {
  grid-area: header;

  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background-color: hsl(0, 0%, 95%);
}

.featured-dish {
  grid-area: dish;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;

  background-color: hsl(0, 0%, 90%);
}

.featured-dish > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  max-width: 500px;

  padding: 1rem 3rem;
}

.img-featured-dish {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.price-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.original-price {
  text-decoration: line-through;
}

.discount {
  font-weight: bold;
  color: red;
}

.home-hours {
  grid-area: hours;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  background-color: hsl(0, 0%, 95%);
}

.home-events {
  grid-area: events;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 2rem;
  background-color: hsl(0, 0%, 90%);
}

.home-hours > h2,
.home-events > h2 {
  font-weight: normal;
}

.home-hours > ul,
.home-events > ul {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 100%;
  list-style-type: none;
}

.home-hours > ul > li {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: start;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.home-events > ul > li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  text-align: left;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.span-day {
  font-weight: bold;
}

.span-time-hours,
.span-time-event {
  justify-self: end;
}

@media (min-width: 1024px) {
  .home-module {
    grid-template-areas:
      "header header header"
      "hours dish events"
      "footer footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .home-header {
    background-color: white;
  }

  .featured-dish {
    background-color: hsl(30, 2%, 90%);
  }

  .home-events {
    background-color: hsl(0, 0%, 95%);
  }

  .restaurant-footer {
    background-color: white;
  }
}
