.home-module {
  grid-template-areas:
    "header"
    "dish"
    "hours"
    "events"
    "footer";
  gap: 2rem;
  justify-items: center;
}

.card-home-header {
  grid-area: header;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.card-featured-dish {
  grid-area: dish;

  display: flex;
  align-items: center;
  width: 100%;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.card-featured-dish > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;

  padding: 1rem 3rem;
}

.img-featured-dish {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.price-info {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.original-price {
  text-decoration: line-through;
}

.discount {
  font-weight: bold;
  color: red;
}

.card-home-hours {
  grid-area: hours;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.card-home-events {
  grid-area: events;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.card-home-hours > h2,
.card-home-events > h2 {
  font-weight: normal;
}

.card-home-hours > ul,
.card-home-events > ul {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 100%;
  list-style-type: none;
}

.card-home-hours > ul > li {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: start;
  align-items: center;
  text-align: left;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.card-home-events > ul > li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  text-align: left;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.card-home-header:hover,
.card-home-hours:hover,
.card-home-events:hover,
.card-featured-dish:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 15px hsla(0, 0%, 100%, 0.2);
}

.span-day {
  font-weight: bold;
}

.span-time-hours,
.span-time-event {
  justify-self: end;
}

@media (min-width: 1024px) {
  .home-module {
    grid-template-areas:
      "header header header"
      "hours dish events"
      "footer footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
}
