.menu-module {
  grid-template-areas:
    "header"
    "drinks"
    "starter"
    "main"
    "dessert"
    "footer";
  gap: 2rem;
  background-color: grey;
}

.menu-header {
  grid-area: header;

  padding: 2rem;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.menu-header h2 {
  color: hsl(0, 0%, 20%);
}

.menu-header > p {
  color: hsl(0, 0%, 50%);
  font-size: 1rem;
}

.section {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem 2rem;
  width: 100%;
  background-color: grey;
}

.section-drinks {
  grid-area: drinks;
}

.section-starter {
  grid-area: starter;
}

.section-main-course {
  grid-area: main;
}

.section-dessert {
  grid-area: dessert;
}

.section-div-header {
  grid-column: 1 / -1; /* stretch first row */

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: white;
}

.section-header {
  font-size: 2rem;
}

.section-para {
}

.card-menu {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  gap: 1rem;
  border-radius: 4px;
  padding: 1rem;
  height: 100%;
  background-color: white;
}

.card-menu:hover {
  box-shadow: 0px 0px 5px hsla(0, 0%, 100%, 0.5);
}

.card-menu > strong {
  font-size: 1.2rem;
  color: rgb(51, 51, 51);
}

.card-img-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.2rem;
  padding: 0rem 1rem;
}

.card-img-description > figcaption {
}

.card-menu img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.menu-price {
}

.currency {
  color: hsl(0, 0%, 38%);
  font-size: 0.9em;
}

@media (hover: hover) {
  .card-menu:hover {
  }
}
