@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* header element */
  --col-header: white;
  --bg-header: hsl(0, 0%, 40%);

  --color-btn-header: rgb(49, 49, 49);
  --bg-btn-header: hsl(0, 0%, 100%);

  --col-btn-header-hover: white;
  --bg-btn-header-hover: rgb(65, 65, 65);

  --col-btn-header-border: rgb(49, 49, 49);
  --col-btn-header-border-hover: rgb(49, 49, 49);
  --btn-header-active: #e7c500;

  /* main elements */
  --bg-main: hsl(0, 0%, 98%);
  /* footer elements */
  --bg-footer: hsl(240, 23%, 82%);
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1;
  display: grid;
  grid-template-rows: 130px 1fr 130px;
}

.container-header {
  display: grid;
  grid-template-rows: 1fr 0.5fr 1fr;
  justify-items: center;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1000;
  border-bottom: 1px solid grey;
  color: var(--col-header);
  background-color: var(--bg-header);
}

.container-header h1 {
}

.container-header p {
  align-self: start;
  color: hsl(0, 0%, 88%);
  font-size: 0.8rem;
}

.btn-header {
  width: 100px;
  height: 30px;
  border: none;
  /* border: 1px solid var(--col-btn-header-border); */
  color: var(--color-btn-header);
  background-color: var(--bg-btn-header);
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.btn-header:hover {
  cursor: pointer;
  /* border: 1px solid var(--col-btn-header-border-hover); */
  color: var(--col-btn-header-hover);
  background-color: var(--bg-btn-header-hover);
}

.container-main {
  height: 100%;
  background-color: var(--bg-main);
}

.content {
  display: grid;
  padding: 2rem 5rem;

  min-height: 100%;
  grid-template-rows: min-content 1fr;

  background-position: center;
  background-size: cover;
}

.card {
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 8px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-footer);
}

.footer-header {
  font-weight: normal;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 1rem;

  list-style-type: none;
}

.footer-list a {
  display: flex;
  align-items: center;
}

.fa.fa-twitter::before {
  content: "ð•";
}

.img-solo-learn {
  width: 20px;
  height: 20px;
}

.footer-name {
}

.footer-list a {
  text-decoration: none;
}

.link-text {
  text-decoration: underline;
}

/* footer for restaurant modules*/
.card-restaurant-footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

.card-restaurant-footer:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 15px hsla(0, 0%, 100%, 0.2);
}

.sentence > span {
  font-style: italic;
  font-weight: bold;
}

.location {
  text-align: center;
  padding: 1rem;
}

.location h3 {
  font-weight: normal;
}

.location ul {
  list-style-type: none;
}

.contacts {
}

.contacts ul {
  list-style-type: none;
}

.active {
  box-shadow: 0 4px 0 var(--btn-header-active);
}

@media (min-width: 1024px) {
  .card-restaurant-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

.contacts i {
  text-decoration: none;
}
