@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* header element */
  --col-header: white;
  --bg-header: hsl(0, 0%, 40%);
  /* buttons for navigation */
  --col-btn-header: rgb(49, 49, 49);
  --bg-btn-header: hsl(0, 0%, 100%);
  --col-btn-header-hover: white;
  --bg-btn-header-hover: rgb(65, 65, 65);
  --col-btn-header-border: rgb(49, 49, 49);
  --col-btn-header-border-hover: rgb(49, 49, 49);
  --btn-header-active: #e7c500;
  /* main elements */
  --bg-main: hsl(0, 0%, 100%);
  /* footer element */
  --col-footer: white;
  --bg-footer: hsl(0, 0%, 40%);
}

html {
  font-size: 16px;
  overflow-y: scroll;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1;
  display: grid;
  grid-template-rows: 130px 1fr 130px;
}

.container-header {
  display: grid;
  grid-template-rows: 1fr 0.5fr 1fr;
  justify-items: center;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1000;
  border-bottom: 1px solid grey;
  color: var(--col-header);
  background-color: var(--bg-header);
}

.container-header h1 {
}

.container-header p {
  align-self: start;
  color: hsl(0, 0%, 88%);
  font-size: 0.8rem;
}

.btn-header {
  width: 100px;
  height: 30px;
  border: none;
  color: var(--col-btn-header);
  background-color: var(--bg-btn-header);
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.btn-header:hover {
  cursor: pointer;
  color: var(--col-btn-header-hover);
  background-color: var(--bg-btn-header-hover);
}

.container-main {
  height: 100%;
  background-color: var(--bg-main);
}

.content {
  display: grid;
  justify-items: center;
  min-height: 100%;
  grid-template-rows: min-content 1fr;

  background-position: center;
  background-size: cover;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  color: var(--col-footer);
  background-color: var(--bg-footer);
}

.footer-header {
  font-weight: normal;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 1rem;

  list-style-type: none;
}

.footer-list a {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  transition: transform 0.4s ease;
}

.fa.fa-twitter::before {
  content: "ð•";
}

.img-solo-learn {
  width: 20px;
  height: 20px;
}

.footer-name {
  font-size: 0.7rem;
}

.link-text {
  /* text-decoration: underline; */
}

/* footer for restaurant modules*/
.restaurant-footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  text-align: center;

  background-color: hsl(0, 0%, 95%);
}

.sentence > span {
  font-style: italic;
  font-weight: bold;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
  /* padding: 1rem; */
}

.location-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fa-location-dot {
}

.location h3 {
  font-weight: normal;
}

.ul-location {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ul-contact {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style-type: none;
}

.link-email-contact {
  text-decoration: none;
  color: rgb(87, 87, 87);
}

.link-twitter,
.link-facebook {
  font-size: 1.2rem;
  color: rgb(63, 63, 63);
}

/* special classes and media queries */

.active {
  box-shadow: 0 4px 0 var(--btn-header-active);
}

@media (min-width: 1024px) {
  .card-restaurant-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

@media (hover: hover) {
  .card-restaurant-footer:hover {
    /* box-shadow: 0px 0px 15px hsla(0, 0%, 100%, 1); */
  }
  .footer-list a:hover {
    transform: scale(1.2);
  }
}
