@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-header: hsl(240, 23%, 82%);
  --bg-main: hsl(0, 0%, 98%);
  --bg-footer: hsl(240, 23%, 82%);
}

html {
  font-size: 16px;
  border: 10px solid blue;
}

 body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1;
  display: grid;
  grid-template-rows: 120px 1fr 120px;
}

/* header page ================================================ */
.container-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  /* border: 1px solid blue; */
  background-color: var(--bg-header);
}

.btn {
  width: 100px;
  height: 30px;
  border: none;
}

.btn:hover {
  background-color: pink;
}

/* main page ================================================ */
.container-main {
  min-height: 100%;
  background-color: var(--bg-main);
  /* border: 5px solid red; */
}

.content {
  display: grid;
  padding: 2rem 5rem;

  min-height: 100%;
  grid-template-rows: min-content 1fr;

  background-image: url("images/restaurant-dark.jpg");
  background-position: center;
  background-size: cover;

  /* border: 10px solid pink; */
}

.card {
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 16px;
  /* border: 1px solid hsl(0, 0%, 80%); */
}

/* Home Module*/
.home-module {
  grid-template-areas:
    "header header"
    "hours events"
    "footer footer";
  grid-template-rows: auto auto auto;
  gap: 1rem;
  /* border: 5px solid red; */
}

.card-home-header {
  grid-area: header;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  /* border: 2px solid blue; */
}

.card-home-hours {
  grid-area: hours;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  /* border: 1px solid green; */
}

.card-home-events {
  grid-area: events;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
    padding-top: 1rem;
  padding-bottom: 2rem;
  /* border: 1px solid red; */
}

.card-home-hours > h2,
.card-home-events > h2 {
  font-weight: normal;
  /* border: 1px solid red; */
}

.card-home-hours > ul,
.card-home-events > ul {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 100%;
  list-style-type: none;

  /* border: 5px solid blue; */
}

.card-home-hours > ul > li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  gap: 1rem;
  /* border: 1px solid yellow; */
}

.card-home-events > ul > li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: start;
  /* align-self: center; */
  gap: 1rem;
  /* border: 1px solid red; */
}

.span-day {
  font-weight: bold;
}

.span-time-hours,
.span-time-event {
  justify-self: end;
}

.card-home-footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.location {
  text-align: center;
}

.location > h3 {
  font-weight: normal;
}

.sentence > span {
  font-style: italic;
  font-weight: bold;
}

/* footer page ================================================ */
.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* border: 10px solid rgb(177, 36, 184); */
  background-color: var(--bg-footer);
  padding: 1rem;
}

.footer-header {
  /* background-color: red; */
  font-weight: normal;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 1rem;

  list-style-type: none;
  /* background-color: yellow; */
}

.footer-list a {
  display: flex;
  align-items: center;
}

.fa.fa-twitter::before {
  content: "𝕏";
}

.img-solo-learn {
  width: 20px;
  height: 20px;
}

.footer-name {
  /* background-color: blue; */
}

/* @media (min-width: 1500px) {
  html {
    border: 1px solid red;
    font-size: 22px;
  }
} */
