@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-header: hsl(240, 23%, 82%);
  --bg-main: hsl(0, 0%, 98%);
  --bg-footer: hsl(240, 23%, 82%);
}

html {
  font-size: 16px;
  overflow-y: scroll;
  /* border: 10px solid blue; */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.container {
  flex: 1;
  display: grid;
  grid-template-rows: 120px 1fr 120px;
}

.container-header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;

  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1000;
  /* border: 1px solid blue; */
  background-color: var(--bg-header);
}

.btn {
  width: 100px;
  height: 30px;
  border: none;
}

.btn:hover {
  background-color: pink;
}

.container-main {
  /* min-height: 100%; */
  height: 100%;
  /* border: 15px solid pink; */
  background-color: var(--bg-main);
}

.content {
  display: grid;
  padding: 2rem 5rem;

  min-height: 100%;
  grid-template-rows: min-content 1fr;

  background-image: url("images/restaurant-dark.jpg");
  background-position: center;
  background-size: cover;

  /* border: 10px solid pink; */
}

.card {
  background-color: hsla(0, 0%, 100%, 0.8);
  border-radius: 8px;
  /* border: 1px solid hsl(0, 0%, 80%); */
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
  background-color: var(--bg-footer);
  /* border: 10px solid rgb(177, 36, 184); */
}

.footer-header {
  /* background-color: red; */
  font-weight: normal;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 1rem;

  list-style-type: none;
  /* background-color: yellow; */
}

.footer-list a {
  display: flex;
  align-items: center;
}

.fa.fa-twitter::before {
  content: "ð•";
}

.img-solo-learn {
  width: 20px;
  height: 20px;
}

.footer-name {
  /* background-color: blue; */
}

/* Home Module ========================================================== */
.home-module {
  grid-template-areas:
    "header"
    "hours"
    "events"
    "footer";
  gap: 2rem;
}

.card-home-header {
  grid-area: header;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  /* border: 2px solid blue; */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-home-hours {
  grid-area: hours;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* border: 1px solid green; */
}

.card-home-events {
  grid-area: events;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* border: 1px solid red; */
}

.card-home-hours > h2,
.card-home-events > h2 {
  font-weight: normal;
  /* border: 1px solid red; */
}

.card-home-hours > ul,
.card-home-events > ul {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  height: 100%;
  list-style-type: none;

  /* border: 5px solid blue; */
}

.card-home-hours > ul > li {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: start;
  gap: 1rem;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.card-home-events > ul > li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: start;
  /* align-self: center; */
  gap: 1rem;
  border-bottom: 1px solid rgb(183, 183, 183);
}

.card-home-header:hover,
.card-home-hours:hover,
.card-home-events:hover {
  box-shadow: 0px 0px 15px hsla(0, 0%, 100%, 0.2);
  transform: scale(1.03);
}

.span-day {
  font-weight: bold;
}

.span-time-hours,
.span-time-event {
  justify-self: end;
}

/* Menu Module ========================================================== */
.menu-module {
  /* border: 10px solid red; */
  grid-template-areas:
    "header"
    "drinks"
    "starter"
    "main"
    "dessert"
    "footer";
  gap: 2rem;
}

.card-menu-header {
  grid-area: header;
  padding: 2rem;
  text-align: center;
}

.section {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  /* border: 1px solid red; */
}

.section > h3 {
  grid-column: 1 / -1;
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

/* to counter justify-items in section and keep elements span the whole width */
.card-menu-header,
.section,
.section > h3 {
  width: 100%;
}

.section-drinks {
  grid-area: drinks;
}

.section-starter {
  grid-area: starter;
}

.section-main-course {
  grid-area: main;
}

.section-dessert {
  grid-area: dessert;
}

.card-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  padding: 1rem;
  /* height: 350px; */
  gap: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-menu:hover {
  box-shadow: 0px 0px 15px hsla(0, 0%, 100%, 0.2);
  transform: scale(1.03);
}

.card-menu > strong {
  font-size: 1.2rem;

  /* color: red; */
}

.card-img-description {
  /* border: 5px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.2rem;
  padding: 0rem 1rem;
}

.card-img-description > figcaption {
  /* border: 1px solid red; */
}

.card-menu img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.currency {
  color: hsl(0, 0%, 38%);
  font-size: 0.9em;
}

/* About Module ========================================================== */
.about-module {
  grid-template-areas:
    "header"
    "values"
    "team"
    "cuisine"
    "footer";
  gap: 2rem;
  /* border: 10px solid red; */
  text-align: center;
}

.img-restaurant {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
}

.about-header {
  grid-area: header;

  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* border: 5px solid red; */
}

.section-values {
  grid-area: values;

  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* border: 5px solid red; */
}

.span-value {
  font-weight: bold;
  font-style: italic;
  /* border: 1px solid red; */
}

.section-values > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}

.section-values > ul > li {
}

.section-team {
  grid-area: team;

  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* border: 5px solid red; */
}

.section-cuisine {
  grid-area: cuisine;

  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  gap: 1rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* border: 5px solid red; */
}

.section-cuisine > article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.img-frying-pan {
  width: 100%;
  aspect-ratio: 4 / 4;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  /* padding: 1rem; */
}

.about-header:hover,
.section-values:hover,
.section-team:hover,
.section-cuisine:hover {
  box-shadow: 0px 0px 15px hsla(0, 0%, 100%, 0.2);
  transform: scale(1.03);
}

/* footer for restaurant modules*/
.card-restaurant-footer {
  grid-area: footer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-restaurant-footer:hover {
  box-shadow: 0px 0px 15px hsla(0, 0%, 100%, 0.2);
  transform: scale(1.03);
}

.location {
  text-align: center;
  padding: 1rem;
}

.location > h3 {
  font-weight: normal;
}

.sentence > span {
  font-style: italic;
  font-weight: bold;
}

@media (min-width: 768px) {
  .home-module {
    grid-template-areas:
      "header header"
      "hours events"
      "footer footer";
    grid-template-rows: auto auto auto;
    gap: 1rem;
  }

  .about-module {
    grid-template-areas:
      "header header"
      "values  cuisine"
      "team team"
      "footer footer";
  }

  .img-frying-pan {
    width: 80%;
  }

  body {
    /* border: 5px solid red; */
  }
}

@media (min-width: 1024px) {
  .about-module {
    grid-template-areas:
      "header values cuisine"
      "team team team"
      "footer footer footer";
    /* border: 5px solid yellow; */
  }

  body {
    /* border: 5px solid rgb(13, 0, 255); */
  }
}
